@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Irelands first winter festival!</h1>
    <p class="lead">Friday 18th of December at Marlay Park, for one night only, Snow Fest will be arriving to Dublin for the first time ever with an unbelieveable line-up! Be prepared to be mind-blown! We will be releasing the line-up soon so keep an eye on our site for updates! Get early-Bird tickets now from Ticketmaster </p>
    <p><img src="../Images/imgfest.jpg" height=350px; width=100% /></p>
    <p><a href="http://www.ticketmaster.ie/" class="btn btn-primary btn-lg">Buy tickets here &raquo;</a></p>
</div>
<h2>Upcoming festivals 2017</h2>
<hr />
<div class="row">

    <div class="col-md-4">
        <h2>Ultra Music Festival</h2>
        <p>
            UMF is an annual outdoor electronic music festival that takes place during March in the city of Miami, Florida and during the month of July in Croatia, Europe. Ultra Music Festival is home to seven stages!
        </p>
        <p><img src="../Images/imgultra.jpg" height=200px; width=100% /></p>
        <p><a class="btn btn-default" href="https://ultramusicfestival.com/tickets/miami/">Early Bird Tickets &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Creamfeilds</h2>
        <p>Creamfeilds, the UK's best annual dance festival located in the heart of Cheshire, in between the cities of Liverpool & Manchester in Liverpool. August bank holiday weekend will be one to remember! </p>
        <p><img src="../Images/imgcream.jpg" height=200px; width=100% /></p>
        <p><a class="btn btn-default" href="http://www.creamfields.com/tickets">Early Bird Tickets &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>TomorrowLand</h2>
        <p>Tomorrowland is an electronic music festival held in Boom, Belgium. Tomorrowland was first held in 2005, and has since become one of the world's largest and most notable music festivals.</p>
        <p><img src="../Images/imgtomorrow.jpg" height=200px; width=100% /></p>
        <p><a class="btn btn-default" href="https://www.tomorrowland.com/en/festival/tickets">Early Bird Tickets &raquo;</a></p>
    </div>
</div>