body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: radial-gradient(green, #000000, #999999); /* Standard syntax */
    font-family: Arial, Helvetica, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    	box-shadow: 00px 00px 30px 10px #888888;
        font-family: Arial, Helvetica, sans-serif;
         font-style: italic;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
